[submodule "Externals/Qt"]
	path = Externals/Qt
	url = https://github.com/dolphin-emu/ext-win-qt.git
[submodule "Externals/Vulkan-Headers"]
	path = Externals/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
